// variables.scss

///////////////////////////
// colors
$red: #a61206;
$black: #000;
$white: #fff;
$grey: #c1c1c1;
$darkGrey: #3d3d3d;
$orange: #f19f30;
$gold: #f19f30;

//////////////////////////////
// fonts
$openSans: 'Open Sans', sans-serif;
// Regular -> 400
// Bold -> 700
// Black -> 900
$raleway: 'Raleway', sans-serif;
// Regular -> 400
// Bold -> 700
